.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3rem;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.logo{
    height: 5rem;
    width: 5rem;
}
@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo img {
  animation: rotateLogo 4s linear infinite;
}
